.colorPrimary {
  background-color: #0d28a6;
}

.btn-outline-success {
  color: #0d28a6;
  background-color: transparent;
  background-image: none;
  border-color: #0d28a6;
}

body {
  font-family: "Helvitica";
  font-size: 14px;
  line-height: 20px;
  background-color: #e5e5e5;
}

h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  position: absolute;
  width: 100%;
  left: 64px;
  padding-right: 70px;
  z-index: 9;
}

.sidebar1 {
  position: absolute;
  height: 100%;
  z-index: 10;
  color: #fff;
  z-index: 10;
}

.sidebarDashboard {
  position: absolute;
  text-align: center;
  left: 57px;
  height: 100%;
}

.nav-link {
  padding: 15px 0 0 0;
  font-size: 10px;
}

#dashboard-text-1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #8a8a8a;
  line-height: 20px;
}

#dashboard-text-2 {
  font-size: 14px;
  font-weight: bold;
  color: #151515;
  margin-top: 20px;
}

.main-content {
  padding: 15px;
  position: absolute;
  top: 60px;
  left: 217px;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.table {
  width: 80vw;
  background-color: rgb(255, 255, 255);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding-left: 10px;
  padding-right: 0px;
}

.table > thead > tr > th,
.table > tbody > tr > th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-dropdown {
  background-color: #e5e5e5;
}
