.colorPrimary {
  background-color: #0d28a6;
}

.btn-outline-secondary {
  color: #0d28a6;
  background-color: transparent;
  background-image: none;
  border-color: #0d28a6;
}

body {
  font-family: "Helvitica";
  font-size: 14px;
  line-height: 20px;
  background-color: #e5e5e5;
}

h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  position: absolute;
  width: 100%;
  left: 64px;
  padding-right: 70px;
  z-index: 9;
}

.sidebar1 {
  position: absolute;
  height: 100%;
  z-index: 10;
  color: #fff;
  z-index: 10;
}

.sidebarDashboard {
  position: absolute;
  text-align: center;
  left: 57px;
  height: 100%;
}

.nav-link {
  padding: 15px 0 0 0;
  font-size: 10px;
}

#dashboard-text-1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #8a8a8a;
  line-height: 20px;
}

#dashboard-text-2 {
  font-size: 14px;
  font-weight: bold;
  color: #151515;
  margin-top: 20px;
}

.main-content {
  padding: 15px;
  position: absolute;
  top: 60px;
  left: 217px;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9 {
  padding: 24px;

  width: 320px;
  height: auto;

  background: #ffffff;
  /* Shadow/Low */

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 0;
}
